# Dependencies
node_modules/

# Environment variables (VACİB - sirlərini heç vaxt GitHub-a atma!)
.env

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build output
dist/
build/
data/dataDB.json